# Зависимости
node_modules/
package-lock.json

# Отчеты и логи
reports/
*.log

# Скриншоты и изображения
*.png
*.jpg
*.jpeg

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Редакторы
.vscode/
.idea/
*.sublime-*